.container{
    display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,1);
  background-image: url("https://image.freepik.com/free-vector/white-elegant-texture-wallpaper_23-2148417584.jpg");

 
}
.dashboard{
    padding-top: 15px;
   margin-bottom: -10px;
margin-left: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    color: rgb(62, 57, 100);
    font-size: 30px;
    
}

.clr{
    height: 200px;

    flex-direction: column;
    display: flex;
    background-image: linear-gradient(152.51375682301176deg, rgba(37,72,137,1) 0%, rgba(123,22,106,1) 99%);

}
.wel{
    font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  color: rgba(247,242,242,1);
  font-size: 130%;
  text-align: center;
  margin-left: 1px;
  margin-top:80px;

}


.card2{
    background-color: aqua;
}
.col-12,
.col-6,
.col-md-8,
.col-md-6,
.col-md-4 {
padding: 1rem;
background-color: #33b5e5;
border: 2px solid #fff;
color: #fff;
text-align: center;
}
.card_container{
    display: flex;
    flex-direction: column;

    
}
.card1 {
    background-color: rgba(252,252,252,1);
    border-radius:15px;
    width: 478px;
    height:100px;
    box-shadow: 3px 3px 7px  0.23px rgb(177, 177, 177) ;
    color: red;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 150%;
    padding: 15px;

  }
  .subname{
      color: grey;
      font-size: 50%;
      font-weight: 300;
     
  }
.card1:hover{
    background-color: rgb(236, 239, 240);
}
  .card2 {
    background-image: linear-gradient(155.4836717850862deg, rgba(10,210,200,1) 0%, rgba(0,86,255,1) 99%);

    border-radius:15px;
    width: 478px;
    height:100px;
    box-shadow: 3px 3px 7px  0.23px rgb(148, 148, 148) ;
    color: rgb(255, 253, 253);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 150%;
    padding: 15px;
  }
  .card2:hover{
    background-image: linear-gradient(155.4836717850862deg, rgb(7, 150, 143) 0%, rgb(6, 64, 180) 99%);

}
  .count{
    color: rgb(255, 255, 255);
    font-size: 50%;
    font-weight: 300;
      
  }
  .card3{
    background-image: linear-gradient(155.4836717850862deg, rgba(207,210,10,1) 0%, rgba(255,0,0,1) 99%);
    border-radius:15px;
    width: 478px;
    height:100px;
    box-shadow: 3px 3px 7px  0.23px rgb(175, 173, 173) ;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 150%;
    padding: 15px;
  
  }
  .card3:hover{
    background-image: linear-gradient(155.4836717850862deg, rgb(151, 153, 6) 0%, rgb(196, 2, 2) 99%);

}
  .card4{
    background-image: linear-gradient(155.4836717850862deg, rgba(204,10,210,1) 0%, rgba(0,68,255,1) 99%);
   border-radius:15px;
    width: 478px;
    height:100px;
    box-shadow: 3px 3px 7px  0.23px rgb(175, 173, 173) ;
    color: rgb(245, 245, 245);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 150%;
    padding: 15px;
  
  }
  .card4:hover{
    background-image: linear-gradient(155.4836717850862deg, rgb(163, 8, 168) 0%, rgb(5, 56, 194) 99%);

}
  
  /* Achieve Topbar Navigation */
  .site-container {
     align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
      }
  
  /* Switch on Breakpoint 415px to side nav layout */
  @media screen and (min-width: 800px) {
    .site-container {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-top: 5%;
    }
    .site-container > * {
      -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
      flex: 1 1 0;

    }
    .clr{
        width: 100%;
    }
    .dashboard{
        padding-bottom: -15px;
       
    }
  
  }
  

  @media screen and (max-width: 600px) {

    .site-container {
        
        margin-top: 7%;
      }
      .card1{
        width:300px;
      }
      .card2{
        width:300px;
      }
      .card3{
        width:300px;
      }
      .card4{
        width:300px;
      }
  }